<!-- Navigation -->
<nav>
    <h2>MedShareNetwork</h2>
    <span>
        <button class="create-post-btn">Post</button>
        <button id="request-login">Login</button>
        <button id="request-Create-Account">Create Account</button>
    </span>
</nav>


<!-- Login  -->
<section id="loginMiniPage">
    <h2>Login</h2>
    <form>
        <!-- Email -->
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" required>
        <br>
        <!-- Password -->
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button id="loginButton" type="submit">Login</button>
        <button id="closeLogin">Close</button>
    </form>
</section>


<!-- Create Account  -->
<section id="createAccountMiniPage">
    <h2>Create Account</h2>
    <form>
        <!-- Username -->
        <label for="createUsername">Username:</label>
        <input type="text" id="createUsername" name="createUsername" required>
        <br>
        <!-- Email -->
        <label for="createEmail">Email:</label>
        <input type="text" id="createEmail" name="createEmail" required>
        <br>
        <!-- Password -->
        <label for="createPassword">Password:</label>
        <input type="password" id="createPassword" name="createPassword" required>
        <br>
        <button id="createAccountBtn" type="submit">Create Account</button>
        <button id="closeCreateAccountBtn">Close</button>
    </form>
</section>