<body>
    <!-- Navigation -->
    <nav>
        <h2>MedShareNetwork</h2>
        <span>
            <button class="create-post-btn">Post</button>
            <button class="logoutBtn" id="request-login">Log Out</button>
            <label for="fileInput" class="circular-container">
                <img src="../Assets/Image-1.webp" alt="Circular Image" class="circular-image">
                <input type="file" id="fileInput" accept="image/*" onchange="displayImagePreview(event)">
            </label>
        </span>
    </nav>