<!-- login.handlebars -->
<!-- users login and signup form -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedShareNetwork</title>
    <link rel="stylesheet" href="/MedShareNetwork/public/css/jass.css"> 
    <link rel="stylesheet" href="/MedShareNetwork/public/css/style.css"> 
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <section class="login-form">
                    <h2>Login</h2>
                    <form action="/login" method="POST">
                        <div class="form-group">
                            <label for="email-login">Email:</label>
                            <input class="form-input" type="email" id="email-login" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password-login">Password:</label>
                            <input class="form-input" type="password" id="password-login" name="password" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Login</button>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-md-6">
                <section class="signup-form">
                    <h2>Signup</h2>
                    <form action="/signup" method="POST">
                        <div class="form-group">
                            <label for="name-signup">Name:</label>
                            <input class="form-input" type="text" id="name-signup" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="email-signup">Email:</label>
                            <input class="form-input" type="email" id="email-signup" name="email" required>
                        </div>
                        <div class="form-group">
                            <label for="password-signup">Password:</label>
                            <input class="form-input" type="password" id="password-signup" name="password" required>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Signup</button>
                        </div>
                    </form>
                </section>
            </div>
        </div>
    </div>
    <script src="/MedShareNetwork/public/js/login.js"></script>
</body>
</html>
